$redes: (
    facebook: #4158D0,
    whatsapp: #4FCE5D,
    instagram: #F56040,
);

$estilosListas: (
    display: inline-block,
    margin: 0.8em,
    position: relative,
    font-size: 1.2em,
    margin-left: 3vw,
)